<h2>Featured Products</h2>
<div>

    <div style="color:green">@this.TempData["SuccessMessage"]</div>

    To adjust the inventory, go <a asp-controller="Inventory" asp-action="Index">here</a>.

</div>